<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> {{title}} </title>
<link href="cdquery.css" rel="stylesheet" type="text/css">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
</head>

{{{body}}}


</html>

