<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> {{title}} </title>
<link href="/html/cdquery.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script
     src="https://code.jquery.com/jquery-3.4.1.js"
     integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
     crossorigin="anonymous"></script>
</head>

{{{body}}}


</html>

